@import variables
@import mixins
@import button-mixins


*
    +transition()

.btn-default
    +scb-button($white)
.btn-success
    +scb-button($green)
.btn-info
    +scb-button($blue)
.btn-warning
    +scb-button($orange)
.btn-danger
    +scb-button($theme)
.btn-link
    +scb-button($black)
    
h1, h2, h3, h4, h5, h6
    +font-heading

html,
body
	width: 100%
	height: 100%
	padding: 0
	margin: 0 auto
  
body
    font-family: $font-default
    overflow-x: hidden
            
    
    //=================================================================================================================== MENU BAR
    .main-menu
        .navbar
            position: relative
            background: $black
            z-index: 1000
            margin-bottom: 0
            +radius(0)
            .navbar-header
                .navbar-toggle
                    .icon-bar
                        background-color: $yellow
                .navbar-brand
                    margin-left: 0
                    padding: 0 !important
                    margin: 2px 0
            #header_menu
                .navbar-nav
                    text-transform: uppercase
                    & > li > a
                        color: $white
                        +text_shadow(1px, 1px, 0px, $black)
                        &:hover
                            color: $yellow
                            background: $theme
                    & > .active > a
                        color: $yellow
                    .open > a
                        background-color: transparent
                        &:hover,
                        &:focus
                            background: $theme
                    .dropdown-menu
                        & > .active > a
                            background-color: $theme
                        li > a
                            color: $white
                            & > .caret
                                margin-left: 8px
                            &:hover,
                            &:focus
                                background: $theme
                                color: $yellow
                            
            +screen(sm)
                border: none
                border-color: transparent
                +gradient(rgba($black, .5), rgba($black, .0))
                #header_menu
                    .navbar-nav > li
                        & > a
                            color: $white
                            margin: 7px 2px
                            padding: 8px 15px
                            +radius(25px)
                            +screen(md)
                            margin: 7px 10px
                            &:hover,
                            &:focus,
                            &:active
                                background-color: $black
                        &.active > a
                            color: $yellow
                        &.open > a
                            background-color: transparent
                            text-transform: uppercase
                        .dropdown-menu
                            li > a
                                color: $black
                                
                
            
            
    
    //=================================================================================================================== MUSTHEAD
    #musthead
        display: none
        position: absolute
        top: 0
        width: 100%
        height: 100vh
        z-index: -1
        +gradient($theme, darken($theme,15))
    
    //=================================================================================================================== IMG FLOAT
    .clients,
    .maps,
    .bg-img-float,
    .news-main-image
        display: none
    
    
    //=================================================================================================================== PAGE TEMPLATE DEFAULT
    &.page-template-default
        .bg-img-float
            position: absolute
            display: none
            width: 800px
            height: 800px
            overflow: hidden
            background-color: darken($white, 10)
            z-index: -1
            +radius(20%)
            +screen(md)
                display: block
                top: -20%
                left: 50%
                right: 0
                +transform(rotate(25deg) translatex(-30%))
            .wrapper
                position: absolute
                display: block
                width: 100%
                height: 100%
                +transform(rotate(-25deg) scale(1.5))
                img
                    width: 100%
                    height: 100%
    
    //=================================================================================================================== POST TEMPLATE DEFAULT
    &.post-template-default
    
        //=============================================================================================================== IMG FLOAT
        .bg-img-float
            display: block
            +screen(sm)
                width: 100%
                height: 100vh
                display: block !important
                margin-top: -86px
                margin-bottom: 5em
                .wrapper
                    height: 100vh
                    img
                        +img-clip
        .the-title
            margin: 15px !important
    
    //=================================================================================================================== N-O-T-P-A-G-E-H-O-M-E
    &:not(.page-home)
    
        //=============================================================================================================== THE TITLE       
        .the-title
            margin: 15px
            margin-top: 3em
            display: block
            +screen(sm)
                font-size: 7em
                .last
                    display: block
                    &:last-child:after
                        //content: ' -'
         
        //=============================================================================================================== MUSTHEAD       
        #musthead
            display: none
        
        //=============================================================================================================== IMG FLOAT
        //.bg-img-float
            position: absolute
            display: none
            width: 800px
            height: 800px
            overflow: hidden
            background-color: darken($white, 10)
            z-index: -1
            +radius(20%)
            +screen(md)
                display: block
                top: -20%
                left: 50%
                right: 0
                +transform(rotate(25deg) translatex(-30%))
            //.wrapper
                position: absolute
                display: block
                width: 100%
                height: 100%
                +transform(rotate(-25deg) scale(1.5))
                img
                    width: 100%
                    height: 100%
                
    //=============================================================================================================== INTRO
    .entry-content
        #intro
            margin: 50px 0
            h3
                font-style: oblique
                text-transform: capitalize
                padding: 15px
                margin-bottom: 0
            p
                font-family: $font-slab
                font-style: italic
                line-height: 1.7em
                padding: 15px
                
    //=============================================================================================================== INTRO
    #client_all
        display: none
                
        
    
    
    //=============================================================================================================== PAGE-HOME
    &.page-home
        #custom_gallery
            display: none !important
        .entry-content
            .the-title
                display: none
            //======================================================================================================= CAROUSEL MAIN 
            .carousel[id*="cptbc"]
                .carousel-inner
                    height: 100vh
                    background-color: lighten($orange, 30)
                    .item
                        height: 100%
                        width: 100%
                        img
                            +img-clip()
                        .carousel-caption
                            font-size: 2rem
                            h4
                                font-size: 36px
                .carousel-control
                    background: transparent !important
                    
                +screen(sm)
                    overflow: hidden       
                    .carousel-inner
                        .item
                            img
                                width: 50%
                                display: block
                                +centerer(false, true)
                            .carousel-caption
                                position: absolute
                                top: 50%
                                width: 40%
                                text-align: left
                                max-height: 250px
                                +transform(translate(80%, -50%))
                    .carousel-control
                        +opacity(0)
                        &.left
                            left: -4%
                        &.right
                            right: -4%
                    &:hover
                        .carousel-control
                            +opacity(.75)
                            &.left
                                left: -2%
                            &.right
                                right: -2%
                    
        .display-posts
            text-align: center
            padding: 5em 0
            +clearfix
            h2
                text-transform: uppercase
            .post-display-item
                background: $white
                +radius(4px)
                .img-feature
                    img
                        +square(100%)
                .post-content > p > a
                    margin: 10px 0
            +screen(sm)
                //height: 80vh
                h2
                    margin-bottom: 2em
                .post-display-item
                    display: inline-block
                    overflow: hidden
                    position: relative
                    +transform(scale(.9))
                    +box-shadow(0, 0, 3px, rgba($black, .35))
                    &:hover
                        cursor: pointer
                        +transform(scale(1))
                        +box-shadow(0, 0, 50px, rgba($black, .35))
                        
        #highlight
            display: block
            background: darken($white, 5)
            .post-display-item
                padding: 10px
                margin: 15px
                .img-feature
                    margin: 20px
                    img
                        display: block
                        +radius(50%)
                .post-content > p > .btn
                    margin: 20px auto
                    width: 50%
                
            +screen(sm)
                .post-display-item
                    margin: 0
                    height: 335px
                    width: 29%
                    &:hover
                        .img-feature > img
                            +box-shadow(0, 0, 10px, rgba($black, .5))
                        .post-content > p
                            top: 0
                            background: $white
                            & > a
                                display: block
                            
                    .post-content
                        position: relative;
                        height: 170px
                        overflow: hidden
                        p
                            position: absolute
                            top: 54px
                            padding: 10px
                            display: block
                            .btn
                                margin-top: 10px
                                width: 100%
                                display: hidden
                    .img-feature
                        margin: 10px 24px
                +screen(md)
                    .post-display-item
                        height: 359px
                        width: 25%
                    +screen(lg)
                        .post-display-item
                            height: 350px
                            width: 20%
        #latest_event
            text-align: center
            position: relative
            background-color: darken($white,15)
            .post-display-item
                margin: 15px
                .post-content
                    p
                        padding: 15px 0
                        .btn
                            margin: 15px auto
                            width: 50%
            +screen(sm)
                .post-display-item
                    margin: 0 -10px
                    +square(200px)
                    &:hover
                        z-index: 100
                        +transform(scale(1))
                        .post-content
                            bottom: 0
                    .img-feature
                        +centerer(true, true)
                        +square(200px)
                        img
                            display: block
                            +square(100%)
                    .post-content
                        background-color: $white
                        width: 200px
                        bottom: -290px
                        padding: 15px
                        +centerer(true, false)
                +screen(md)
                    .post-display-item
                        +square(260px)
                        .img-feature
                            +square(260px)
                        .post-content
                            width: 260px
                    +screen(lg)
                        .post-display-item
                            +square(300px)
                            .img-feature
                                +square(300px)
                            .post-content
                                width: 300px
    
    //=============================================================================================================== PAGE-ABOUT
    &.page-about-us
        .entry-content
            #about_profiles
                .expertise
                    text-transform: capitalize
                    margin-bottom: 72px
                #profile_intro
                    .post-display-item
                        color: $black
                        a
                            color: $black
                        .profile-card-content
                            a
                                display: inline-block
                                margin: 12px
                                text-decoration: none
                                color: $black
                                span
                                    display: block
                                    margin-left: 2px
                                .icon
                                    font-size: 2.5rem
                                    width: 50px
                                    padding: 1px
                                    text-align: center
                                    i[class*="facebook"]
                                        color:  #3B5998
                                    i[class*="instagram"]
                                        color:  #8a3ab9
                                    i[class*="twitter"]
                                        color:  #1dcaff
                            
                +screen(sm)
                    #profile_intro
                        position: relative
                        overflow: hidden
                        background-size: cover !important
                        +radius(8px)
                        +box-shadow(1px, 1px, 3px, rgba($black, .3))
                        .post-display-item
                            .profile-card-content
                                color: $black
                                +text-shadow(1px, 1px, 2px, rgba($white, .5))
                                img
                                    position: absolute
                                    top: 0
                                    left: 0
                                    z-index: -1
                                    width: 100%
                                    height: 100%
                                    object-fit: cover
                                    object-position: top center
                                h4,
                                ul
                                    margin-bottom: 32px
                                a
                                    display: block
                                    margin: 24px
                                    text-decoration: none
                                    color: $black
                                    span
                                        line-height: 50px
                                        display: inline-block
                                        height: 50px
                                        margin-left: 12px
                                    .icon
                                        font-size: 2.5rem
                                        background-color: rgba($white, .35)
                                        width: 50px
                                        padding: 1px
                                        text-align: center
                                        +radius(50%)
                                        .fa
                                            color: $black
                                    &:hover
                                        .icon
                                            background-color: $white
                #profile_1
                    margin-top: 50px
                    .post-display-item
                        margin-bottom: 15px
                        border: solid 1px darken($white, 5)
                        padding: 15px
                        +radius(8px)
                        &:hover
                            cursor: pointer
                            background: darken($white, 5)
                        .post-content
                            p > img
                                overflow: hidden
                                +square(150px)
                                +radius(20%)
                +screen(sm)
                    #profile_1
                        margin-top: 0
                        .post-display-item
                            position: relative
                            height: 190px
                            overflow: hidden
                            
                            .post-content
                                position: absolute
                                width: 95%
                                height: 150px
                                overflow: hidden
                                p, h3, ul, img
                                    position: absolute
                                p
                                    margin-top: 20px
                                    +square(100px)
                                    img
                                        overflow: hidden
                                        +radius(50%)
                                        +square(100%)
                                h3, ul
                                    display: block
                                    left: 140px
                                h3
                                    height: 35px
                                    margin-top: 4px
                                ul
                                    margin-top: 30px
                                    margin-left: -24px
                                    height: 110px
                                    overflow: hidden
                                    +screen(sm)
                                        height: 120px
                                ul > li
                                    margin-top: 4px
                                    margin-bottom: 4px
            #timeline
                position: relative
                margin: 72px auto
                h2
                    text-align: center
                .tl-container
                    padding: 15px 0
                    .tl-content
                        padding: 15px
                        border: solid 1px darken($white, 5)
                        +radius(6px)
                +screen(sm)
                    &:after
                        content: ''
                        position: absolute
                        width: 6px
                        background-color: darken($white, 10)
                        top: 60px
                        bottom: 0
                        left: 50%
                        margin-left: -6px
                    
                    .tl-container
                        padding: 10px 40px
                        position: relative
                        background-color: inherit
                        width: 50%
                        &:nth-child(even)
                            left: 0
                            .tl-content
                                text-align: right
                            &:after
                                background-color: $orange
                                border: 4px solid darken($orange, 5)
                            &:before
                                content: ""
                                height: 0
                                position: absolute
                                top: 18px
                                width: 0
                                z-index: 1
                                right: 30px
                                border: medium solid darken($white, 5)
                                border-width: 10px 0 10px 10px
                                border-color: transparent transparent transparent darken($white, 5)
                        &:nth-child(odd)
                            left: 50%
                            .tl-content
                                text-align: left
                            &:after
                                background-color: $blue
                                border: 4px solid darken($blue, 5)
                            &:before
                                content: ""
                                height: 0
                                position: absolute
                                top: 18px
                                width: 0
                                z-index: 1
                                left: 30px
                                border: medium solid darken($white, 5)
                                border-width: 10px 10px 10px 0
                                border-color: transparent darken($white, 5) transparent transparent;
                            &:after
                                left: -16px
                        &:after
                            content: ''
                            position: absolute
                            right: -9px
                            top: 15px
                            z-index: 1
                            +radius(50%)
                            +square(25px)
                    .tl-content
                        padding: 20px 10px;
                        position: relative
                        top: -20px
                        border: solid 1px transparent
                        
                    +screen(xs)
                        &:after
                            top: 100px
                        .tl-content
                            padding: 20px 30px;
                            height: 160px
                            overflow: hidden
                            &:hover
                                top: -20px
                                cursor: pointer
                                background-color: $white
                                border-color: darken($white, 5)
                                +box-shadow(0, 10px, 40px, rgba($black, .1))
                            
    //=============================================================================================================== PAGE CORPORATE CULTURE
    &.page-corporate-culture,
    &.page-service-culture
        .scb-model
            text-align: center
            .model-thumb
                width: 100%
                padding: 20px
                img
                    overflow: hidden
                    +square(100%)
                    +radius(50%)
        .scb-carousel
            padding-left: 0
            padding-right: 0
            .carousel-indicators
                display: none
            .carousel-control
                display: block
                background-image: none
                color: $theme
                +opacity(1)
                        
            .carousel-inner
                +box-shadow(-50px, 0, 100px, rgba($black, .05))
                img
                    width: 100%
                .carousel-caption
                    bottom: 20%
                    color: $black
                    padding: 0 15px
                    overflow: hidden
                    white-space: nowrap
                    text-overflow: ellipsis
                    +text-shadow(0,0,0, rgba($white, 0))
                    h4
                        text-transform: uppercase
                        font-family: $font-condensed
                    ul
                        display: none
            +screen(sm)
                padding-left: 15px
                padding-right: 15px
                .carousel-control
                    display: none
                .carousel-indicators
                    display: block
                    li
                        border-color: $theme
                        &.active
                            background-color: $theme
                .carousel-inner
                    .carousel-caption
                        max-height: 70%;
                        height: 70%
                        white-space: normal
                        ul
                            display: block
                            margin-top: 12px
                            text-align: left
    
    //=============================================================================================================== PAGE THE CMG
    &.page-the-cmg
        .carousel-indicators
            li
                text-indent: 0
                padding: 4px 8px
                margin: 0 25px
                width: 114px
                height: auto
                background-color: $white
                +radius(25px)
                &.active
                    color: $white
                &:nth-child(1):before
                    content: 'slide 1'
                &:nth-child(2):before
                    content: 'slide 2'
                            
    //===============================================================================================================
    // CORPORATE CULTURE, SERVICE CULTURE, PAGE OUTBOUNG, THE CMG
    
    
    &.page-corporate-culture,
    &.page-service-culture,
    &.page-outbound,
    &.page-public-speaking,
    &.page-gsa,
    &.page-the-cmg
        .entry-content
            .top-consultant
                padding: 5em 0
                .section-title
                    text-align: center
                    text-transform: uppercase
                    margin-top: 3em
                .display-posts
                    text-align: center
                    padding: 5em 0
                    +clearfix
                    h2
                        text-transform: uppercase
                        margin-bottom: 2em
                    .post-display-item
                        +radius(25px)
                        .post-content
                            .img-feature
                                margin: 0 auto 
                                width: 200px
                                height: 250px
                                overflow: hidden
                                +radius(29px)
                                img
                                    height: 100%
                                    width: 200px
                                    object-fit: cover
                            .consultant-name
                                margin: 2em 0
                                text-transform: capitalize
                    +screen(sm)
                        .post-display-item
                            display: inline-block
                            overflow: hidden
                            margin: 15px
                            .img-feature
                                position: relative
                                top: 0px
                                &:hover
                                    cursor: pointer
                                    top: -2px
                                    +box-shadow(0, 5px, 10px, rgba($black, .2))
            .video-testimony
                text-align: center
                padding: 5em 0
                h2
                    text-transform: uppercase
                    margin-bottom: 2em
                .lightbox-gallery
                    margin: 15px auto
                    .video
                        height: 150px
                        max-width: calc(100% - 30px)
                        display: inline-block
                        img
                            +img-clip()
                +screen(sm)
                    margin-bottom: 0
                    .lightbox-gallery
                        display: inline-block
                        width: calc(33% - 4px)
                        max-width: 250px
                        .video
                            img
                                +transform(scale(.99))
                                &:hover
                                    +transform(scale(1))
                                    +box-shadow(0, 0, 10px, rgba($black, .35))
                    
            .image-gallery
                padding: 5em 0
                h2
                    text-transform: uppercase
                    margin: 2em
                    text-align: center
                .gallery
                    background: darken($white, 5)
                    .gallery-item
                        display: inline-block
                        margin: 1px
                        width: calc(33% - 2px)
                        .gallery-icon
                            img
                                border: none
                                background-color: $purple
                                +square(100%)
                +screen(sm)
                    //height: 80vh
                    .gallery-item
                        width: calc(20% - 2px) !important
                                
                                
    // =============================================================================================================== NEWS PAGE                            
    &.page-news
        .news-post-list
            display: block !important
            .section-title
                text-transform: capitalize
                text-align: center
            .news-list
                .news-content
                    display: block
                    margin: 15px auto
                    padding: 15px
                    border: solid 1px transparent
                    background-color: rgba($white, .15)
                    +radius(5px)
                    &:hover
                        border-color: darken(rgba($white, .35), 15)
                        background-color: darken(rgba($white, .15), 15)
                    .news-thumbnail
                        text-align: center
                        height: 150px
                        width: 100%
                        img
                            overflow: hidden
                            +img-clip
                            +radius(10px)
                +screen(sm)
                    .news-content
                        display: flex
                        .news-thumbnail
                            flex: 2
                            +radius(10%)
                        .news-detail
                            flex: 7
                            margin-left: 15px
            
    
    // =============================================================================================================== PAGE-CONTACT US
    &.page-contact-us
        .bg-img-float
            display: none
        .maps
            display: block
            position: relative
            top: -20px
            +screen(sm)
                top: -86px
            iframe#google_map
                top: 0
                left: 0
                width: 100%
                height: 60vh
        .contact-info
            .addrs,
            .socials
                padding: 15px
            .socials
                li > a
                    color: $theme
                    text-decoration: none
                li
                    text-align: center
                    overflow: hidden
                    +radius(10%)
                    +square(75px)
                    &:hover
                        background: $white
                        .icon
                            font-size: 4em
                        .facebook
                            color: #3B5998
                        .instagram
                            color: #8a3ab9
                        .youtube
                            color: #FF0000
                    .icon
                        font-size: 2.5em
                        display: block
        +screen(sm)
            .the-title,
            .contact-info
                float: left
                margin: 15px
            .contact-info
                .addrs,
                .socials
                    display: inline-block
                    
    // =============================================================================================================== PAGE CLIENTS
    &.page-our-clients
        .bg-img-float
            position: absolute
            display: none
            width: 800px
            height: 800px
            overflow: hidden
            background-color: saturate(lighten($theme, 20), 30)
            z-index: -1
            +radius(20%)
            +screen(md)
                display: block
                top: -50%
                left: 0%
                right: 0
                +transform(rotate(30deg))
            .wrapper
                position: absolute
                display: block
                width: 100%
                height: 100%
                +transform(rotate(-30deg) scale(1.5))
                img
                    width: 100%
                    height: 100%
        .clients
            display: block
            
            .client-logo-thumb
                margin: 0
                padding: 0
                width: calc(20% - 5px)
                .thumb
                    display: block
                    +square(100%)
                    img
                        +img-clip
        .entry-content
            .the-title,
            #client_all
                display: block
                margin: 50px 15px
                +clearfix
            
        +screen(sm)
            .clients
                #logo_thumb
                    text-align: right
                    width: 400px
                    float: right
            .entry-content
                .the-title
                    width: 50%
                #client_all
                    ul
                        column-count: 4
                        column-gap: 40px
                        font-style: normal
                        li
                            text-transform: capitalize
    
    // =============================================================================================================== PAGE OUTBOUND
    &.page-outbound
        .outbound-box
            position: relative
            display: block
            margin: 15px
            +box-shadow(-50px, 0, 100px, rgba($black, .05))
            img
                position: absolute
                z-index: -1
                +img-clip
            .outbound-card
                padding: 15px
                h4,
                .tab-content
                    padding: 15px 48px
                .nav-pills
                    text-align: center
                    padding: 15px 0
                    & > li
                        display: inline-table
                        & > a
                            color: $black
                            background-color: rgba(darken($white, 10), .35)
                            +radius(25px)
                            &:hover,
                            &:focus
                                background-color: darken($white, 10)
                        &.active > a
                            color: $orange
                            background-color: $black
            +screen(md)
                display: inline-block
                height: 350px
                width: calc(50% - 30px)
                .outbound-card
                    .tab-content
                        min-height: 170px
                    
    
    // =============================================================================================================== PAGE SCHEDULE
    &.page-schedule
        .entry-content
            .event-schedule-card
                font-family: $font-mono
                .card-item
                    position: relative
                    display: block
                    float: left
                    //height: 310px
                    width: calc(100% - 24px)
                    margin: 12px
                    padding: 15px
                    border: 1px solid rgba($black, .3)
                    overflow: hidden
                    +radius(5px)
                    .month
                        font-size: 2em
                        text-transform: capitalize
                    a
                        text-decoration: none
                        .event-schedule
                            .event-banner
                                position: absolute
                                overflow: hidden
                                background-color: darken($white,5)
                                z-index: -1
                                top: 10%
                                right: -10%
                                +transform(rotate(-20deg))
                                +square(100px)
                                +radius(25%)
                                img
                                    overflow: hidden
                                    +radius(25%)
                                    +square(100%)
                            .event-description
                                .title
                                    font-size: 1.2em
                                    margin-bottom: 0
                        &:nth-child(1)
                            .event-schedule
                                .event-banner
                                    top: 10%
                                    right: -10%
                                    +transform(rotate(-20deg))
                        &:nth-child(2)
                            .event-schedule
                                .event-banner
                                    top: 80%
                                    right: 0
                                    +transform(rotate(30deg))
                        &:nth-child(3)
                            .event-schedule
                                .event-banner
                                    top: -20%
                                    left: 10%
                                    +transform(rotate(20deg))
                +screen(sm)
                    .card-item
                        height: 310px
                        width: calc(50% - 24px)
                    +screen(md)
                        .card-item
                            height: 310px
                            width: calc(33.33% - 24px)
    
    
    //=============================================================================================================== FOOTER
    footer
        h2
            color: $orange
            margin-top: 10px
        .footer-feature
            background: lighten($black, 15)
            color: $white
            padding: 15px 0
            min-height: 250px
            .subscribe-news
                #subscribe_form
                input[type="text"]
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px;
                .tx-msg
                    min-height: 1
                    background: $white
            .socials
                position: relative
                min-height: 250px
                ul
                    text-align: center
                    width: 100%
                    +centerer(true, true)
                    li > a
                        color: $white
                        text-decoration: none
                    li
                        overflow: hidden
                        +radius(10%)
                        +square(75px)
                        &:hover
                            background: $white
                            .icon
                                font-size: 4em
                            .facebook
                                color: #3B5998
                            .instagram
                                color: #8a3ab9
                            .youtube
                                color: #FF0000
                        .icon
                            font-size: 2.5em
                            display: block
            .map-location
                background: $white
                color: lighten($black, 10)
                position: relative
                height: 250px
                overflow: hidden
                &:hover
                    .location
                        border-top-width: 8px
                        bottom: -180px
                .map
                    position: absolute
                    display: block
                    +square(100%)
                    iframe
                        height: calc(100% - 50px)
                        width: 100%
                        display: block
                .location
                    position: absolute
                    display: block
                    background: $white
                    width: 100%
                    padding: 12px
                    bottom: -187px
                    border-top: solid 1px $orange
                    height: 250px
                    &:hover
                        bottom: 0
                    h3
                        margin: 10px 0
                        
        .footer-menu
            background: $black
            padding: 50px 0
            text-align: center
            .menu-item
                padding: 0 12px
                line-height: 48px
            +screen(md)
                .menu-menu2-container
                    float: left
                    line-height: 48px
                    
                    
                    
    // =============================================================================================================== CUSTOM POST
    
    // ---- DISPLAY NONE ON POST TYPE "PAGE" OR "POST"
    &.page-template-default
        #custom_post,
        .news-post-list
            display: none
            
    &.post-template-default
        .maps,
        .clients,
        .news-post-list
            display: none
            
        // ---- STYLE FOR POST SCHEDULE
        .event-schedule
            margin: 15px
            display: block
            +screen(md)
                width: 65%
            .event-description
                margin-top: 3em
                margin-bottom: 4em
                .tagline
                    font-size: 1.1em
                    margin-bottom: 10px
                .description
            .event-venue
                margin-bottom: 3em
                font-family: $font-mono
                .venue-name,
                .venue-date-time
                    
                    font-size: 2.3em
                    font-size: 2em
                .event-url
                    color: lighten($black, 50)
            .socials
                color: lighten($black, 50)
                .social
                    display: inline-block
                    margin-right: 32px
                    margin-bottom: 24px
                    .icon
                        float: left
                        margin-right: 12px
                        .fa
                            font-size: 3em
                    .contact-person
                        float: left
                        height: 3em
                        .name
                            display: block
                        .phone,
                        .inst-url
                            display: block
            
    // ----- DISPLAY BLOCK NEWS-MAIN-IMAGE CLASS ON POST_TYPE -> POST
    // ----- PAGE-NEWS, PAGE-SCHEDULE
    &.post-template-default,
    &.page-schedule
        .news-main-image
            +screen(sm)
                width: 100%
                height: 100vh
                display: block !important
                margin-top: -86px
                margin-bottom: 5em
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    object-position: center center
    
    // ----- DISPLAY BLOCK ONLY ON POST_TYPE -> POST, PAGE -> PAGE-HOME, PAGE-NEWS
    &.page-home,
    &.post-template-default
        #custom_post
            display: block !important
            #schedule
                display: none
            
            .custom-post-title-section
                text-align: center
                margin-top: 5em
                
            #custom_video_testimony
                margin-top: 6em
                text-align: center
                p
                    display: block
                    .video
                        display: block
                        min-width: 250px
                        max-width: 300px
                        height: 150px
                        margin: 0 auto
                        .video-thumb
                            object-fit: cover
                            object-position: center center
                            +square(100%)
                +screen(sm)
                    p
                        display: inline-block
                        .video
                            display: block
                            height: 150px
                            width: 300px
                            .video-thumb
                                object-fit: cover
                                object-position: center center
                                +square(100%)
            #custom_text_testimony
                margin: 40px 0
                .item
                    min-height: 400px
                    .carousel-caption
                        color: $black
                        +text-shadow(0, 0, 0, $white)
                        p
                            &:nth-child(2)
                                font-style: oblique
                            &:nth-child(3)
                                &:before,
                                &:after
                                    content: " -- "
                                
                        h4
                            font-style: oblique
                        h5:before,
                        h5:after
                            content: " -- "
                        blockquote
                            border: none
                            max-height: 350px
                            overflow: hidden
                            &:before
                                content: "\f10d"
                                font-size: 3em
                                line-height: 3em
                                font-family: "FontAwesome"
                .carousel-indicators > li
                    border-color: $black
                    padding: 0 12px
                    margin: 0 8px
                    &.active
                        background-color: $black
                    &:hover
                        background-color: $blue
                        +transform(scale(2))
                        
            // ----- IMAGE GALLERY
            #custom_gallery
                display: none
                +screen(sm)
                    display: block
                    margin: 5em 0
                    h2
                        text-transform: uppercase
                        margin-bottom: 2em
                    .gallery
                        background: darken($white, 5)
                        .gallery-item
                            display: inline-block
                            margin: 1px 1px 0 0
                            width: calc(20% - 1px)
                        .gallery-icon
                            img
                                border: none
                                background-color: $purple
                                +square(100%)
                            
    //=================================================================================================================== N-O-T-P-A-G-E-H-O-M-E       
    