html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto; }

body:not(.page-home) #musthead {
  display: none; }

body.page-home #musthead {
  display: block;
  height: 100vh;
  background-color: #ff161e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff161e), to(#620003));
  background-image: -webkit-linear-gradient(top, #ff161e, #620003);
  background-image: -moz-linear-gradient(top, #ff161e, #620003);
  background-image: -ms-linear-gradient(top, #ff161e, #620003);
  background-image: -o-linear-gradient(top, #ff161e, #620003);
  background-image: linear-gradient(top, #ff161e, #620003);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff161e', endColorStr='#620003'); }
  body.page-home #musthead #carousel .carousel-inner {
    height: 100vh; }
    @media (min-width: 768px) {
      body.page-home #musthead #carousel .carousel-inner .item {
        height: 100vh; }
        body.page-home #musthead #carousel .carousel-inner .item img {
          left: 10%;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%); } }

body .main-menu {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0; }
  body .main-menu .navbar {
    background: transparent;
    border: none;
    border-color: transparent;
    border-radius: 0; }
    body .main-menu .navbar .navbar-header .navbar-brand {
      padding: 0;
      margin-left: 0; }
    body .main-menu .navbar #header_menu .navbar-nav > li > a {
      color: white;
      background: transparent; }
      body .main-menu .navbar #header_menu .navbar-nav > li > a:hover {
        background: #ff2f36; }
    body .main-menu .navbar #header_menu .navbar-nav .active > a {
      background: #620003;
      color: #ffd633; }
    body .main-menu .navbar #header_menu .navbar-nav .dropdown-menu {
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -khtml-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -o-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); }
    body .main-menu .navbar #header_menu .navbar-nav .dropdown-menu > li > a {
      padding: 10px 20px; }
      body .main-menu .navbar #header_menu .navbar-nav .dropdown-menu > li > a > .caret {
        margin-left: 6px; }
